<div class="col-md-6 mx-auto mt-5">
  <div class="card shadow text-center">
    <div class="card-header">
      <div class="card-title">Add Department</div>
    </div>
    <div class="card-body">
      <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="departmentName" class="form-label">Department Name:</label>
          <input
            id="departmentName"
            type="text"
            formControlName="departmentName"
            class="form-control"
            placeholder="Enter Department Name"
          />
          <small
            *ngIf="departmentForm.get('departmentName')?.invalid && departmentForm.get('departmentName')?.touched"
            class="text-danger"
          >
            Department Name is required
          </small>
        </div>
        <button
          type="submit"
          class="btn bgMain txtMain mt-3"
          [disabled]="departmentForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
